<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.18.1">
      <projectUrl>https://github.com/anazeer/computer-database/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@2.4.4">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/anazeer/computer-database</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.18.1">
      <spec></spec>
    </com.cloudbees.jenkins.GitHubPushTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

n=$(docker network ls | grep net)

if [ -z  &quot;$n&quot; ]
then
	docker network create net
fi
</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

m=$(docker ps -a | grep maven)

if [ -n  &quot;$m&quot; ]
then
	docker stop maven
    docker rm maven
fi

</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

s=$(docker ps -a | grep mysql)

if [ -n  &quot;$s&quot; ]
then
	docker stop mysql
    docker rm mysql
fi</command>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>docker build -t java8-maven .
docker build -t mysql-cdb docker/mysql/
docker run --name=&quot;mysql&quot; -d --net=&quot;net&quot; -e MYSQL_ROOT_PASSWORD=root mysql-cdb
docker run -t --name=&quot;maven&quot; --net=&quot;net&quot; java8-maven mvn install</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>