<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/jee
		http://www.springframework.org/schema/jee/spring-jee-4.2.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
		http://www.springframework.org/schema/task
		http://www.springframework.org/schema/task/spring-task-4.2.xsd">

	<!-- Scans within the packages of the application for @Component classes 
		to configure as beans -->
	<context:annotation-config />
	<context:component-scan base-package="com.excilys.cdb.service.implementation" />
	<context:component-scan base-package="com.excilys.cdb.ui" />
	<context:component-scan base-package="com.excilys.cdb.pagination.implementation" />
	<context:component-scan
		base-package="com.excilys.cdb.persistence.dao.implementation" />
	<context:component-scan base-package="com.excilys.cdb.mapper.implementation" />

	<!-- Use the JDBC properties file for the data source -->
	<context:property-placeholder location="classpath:dbconf.properties" />

	<!-- Data source initialization -->
	<bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="${db.driver}" />
		<property name="jdbcUrl" value="${db.url}" />
		<property name="username" value="${db.username}" />
		<property name="password" value="${db.password}" />
		<property name="minConnectionsPerPartition" value="${db.minConnection}" />
		<property name="maxConnectionsPerPartition" value="${db.maxConnection}" />
		<property name="partitionCount" value="${db.partitionCount}" />
	</bean>

	<!-- JDBC template initialization with data source -->
	<bean id="namedParameterJdbcTemplate"
		class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>

	<!-- Apply lazy connection to the data source to optimize empty transaction -->
	<bean name="lazyConnectionDataSourceProxy"
		class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
		<property name="targetDataSource" ref="dataSource" />
	</bean>

	<!-- Enable the configuration of transactional behavior based on annotations -->
	<tx:annotation-driven proxy-target-class="true"
		transaction-manager="transactionManager" />

	<!-- Initialize transaction management -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

</beans>