<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>ComputerServlet</servlet-name>
    <servlet-class>com.excilys.cdb.servlets.computer.ComputerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.excilys.cdb.servlets.computer.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.excilys.cdb.servlets.computer.EditServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.excilys.cdb.servlets.computer.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ComputerServlet</servlet-name>
    <url-pattern>/computer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/computerAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/computerEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/computerDelete</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>403</error-code>
    <location>/WEB-INF/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/500.jsp</location>
  </error-page>
</web-app>